.box {
    background-color: rgba(211, 211, 211, 0.13);
    width: 500px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.185);
}
.container-1 {
    width: 400px;
    height: 400px;
}